# ======================
# 🔙 Backend (Django)
# ======================
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
backend/.env

# ======================
# 🔜 Frontend (Next.js)
# ======================
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.turbo/
frontend/.eslintcache

# ======================
# 🛠️ Tooling / Editors
# ======================
.vscode/
.idea/
.DS_Store
.env
*.swp


# ======================
# Virtual evironment
# ======================
/venv
/.venv